<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cafe 8</title>

    <link href="../assets/style/css/bootstrap.css" rel="stylesheet">
    <link href="../assets/style/css/bootstrap.min.css" rel="stylesheet">
    <link href="../assets/style/css/carousel.css" rel="stylesheet">

</head>

<body>
    <div class="navbar-wrapper">
        <div class="container">

            <nav class="navbar navbar-inverse navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">Cafe 8</a>
                    </div>
                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li><a href="../index.html">Home</a></li>
                            <li><a href="menu.html">Menu</a></li>
                            <li class="active"><a href="kontak.html">Kontak</a></li>
                        </ul>
                    </div>
                </div>
            </nav>

        </div>
    </div>

    <br><br><br><br>

    <div class="container">
        <h1>Kontak Kami</h1>
        <div class="row">
            <div class="col-lg-4">
                <div class="thumbnail">
                    <center>
                        <h2>Telepon / WhatstApp</h2>
                        <h3>+62 812 5132 2626</h3>
                    </center>
                    <br>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="thumbnail">
                    <center>
                        <h2>Instagram</h2>
                        <h3>@kelompok8_cafe8</h3>
                    </center>
                    <br>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="thumbnail">
                    <center>
                        <h2>Email</h2>
                        <h3>cafe8@kelompok8.com</h3>
                    </center>
                    <br>
                </div>
            </div>
        </div>
    </div>

    <br>

    <div class="container">
        <h1>Pesan Tempat</h1>
        <form>
            <div class="form-group">
                <label for="exampleInputEmail1">Nama Pemesan</label>
                <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Nama Pemesan">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Email Pemesan</label>
                <input type="email" class="form-control" id="exampleInputPassword1" placeholder="email@gmail.com">
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Tanggal Pesan</label>
                        <input type="text" class="form-control" id="exampleInputEmail1" placeholder="tanggal/bulan/tahun">
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Jam Pesan</label>
                        <input type="text" class="form-control" id="exampleInputEmail1" placeholder="cth : 07:00">
                    </div>
                </div>
            </div>
            <center><button type="submit" class="btn btn-default">Submit</button></center>
        </form>
    </div>

    <!-- FOOTER -->
    <br><br>
    <footer>
        <div class="container">
            <p class="pull-right"><a href="#">Back to top</a></p>
            <p>&copy; 2022 Kelompok 8 &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
        </div>
    </footer>

    <script src="../assets/style/js/bootstrap.min.js"></script>
    <script src="../assets/style/js/jquery.min.js"></script>
    <script src="../assets/style/js/holder.min.js"></script>
    <script src="../assets/style/js/ie10-viewport-bug-workaround.js"></script>
</body>

</html>